$size__site-main: 100%;
$size__site-sidebar: 25%;
$size__general: 1.5rem;
$break-small-1: 320px;
$break-small-2: 360px;
$break-small-3: 375px;
$break-small-4: 384px;
$break-small-5: 412px;
$break-small-6: 414px;
