@font-face {
  font-family: MuseoSans-100;
  src: url(fonts/museo/100/MuseoSans-100.eot?#iefix);
  src: local('☺'), url(fonts/museo/100/MuseoSans-100.otf) format("opentype"),
  url(fonts/museo/100/MuseoSans-100.eot?#iefix) format('embedded-opentype'),
  url(fonts/museo/100/MuseoSans-100.TTF) format("TrueType"),
  url(fonts/museo/100/MuseoSans-100.svg#MuseoSans-100) format("svg"),
  url(fonts/museo/100/MuseoSans-100.dfont) format("dfont"),
  url(fonts/museo/100/MuseoSans-100.suit) format("suit"),
  url(fonts/museo/100/MuseoSans-100.woff) format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face{
  font-family:MuseoSans-300;
  src:url(fonts/museo/300/MuseoSans-300.eot?#iefix);
  src:local('☺'),
  url(fonts/museo/300/MuseoSans-300.otf) format("opentype"),
  url(fonts/museo/300/MuseoSans-300.eot?#iefix) format('embedded-opentype'),
  url(fonts/museo/300/MuseoSans-300.TTF) format("TrueType"),
  url(fonts/museo/300/MuseoSans-300.svg#MuseoSans-300) format("svg"),
  url(fonts/museo/300/MuseoSans-300.dfont) format("dfont"),
  url(fonts/museo/300/MuseoSans-300.suit) format("suit"),
  url(fonts/museo/300/MuseoSans-300.woff) format("woff");
  font-weight:300;
  font-style:normal;
}

@font-face{
  font-family:MuseoSans-500;
  src:url(fonts/museo/500/MuseoSans-500.eot?#iefix);src:local('☺'),
  url(fonts/museo/500/MuseoSans-500.otf) format("opentype"),
  url(fonts/museo/500/MuseoSans-500.eot?#iefix) format('embedded-opentype'),
  url(fonts/museo/500/MuseoSans-500.TTF) format("TrueType"),
  url(fonts/museo/500/MuseoSans-500.svg#MuseoSans-500) format("svg"),
  url(fonts/museo/500/MuseoSans-500.dfont) format("dfont"),
  url(fonts/museo/500/MuseoSans-500.suit) format("suit"),
  url(fonts/museo/500/MuseoSans-500.woff) format("woff");
  font-weight:500;
  font-style:normal
}

@font-face{
  font-family:MuseoSans-700;
  src:url(fonts/museo/700/MuseoSans-700.eot?#iefix);src:local('☺'),
  url(fonts/museo/700/MuseoSans-700.otf) format("opentype"),
  url(fonts/museo/700/MuseoSans-700.eot?#iefix) format('embedded-opentype'),
  url(fonts/museo/700/MuseoSans-700.TTF) format("TrueType"),
  url(fonts/museo/700/MuseoSans-700.svg#MuseoSans-700) format("svg"),
  url(fonts/museo/700/MuseoSans-700.dfont) format("dfont"),
  url(fonts/museo/700/MuseoSans-700.suit) format("suit"),
  url(fonts/museo/700/MuseoSans-700.woff) format("woff");
  font-weight:700;
  font-style:normal;
}

@font-face{
  font-family:MuseoSans-900;
  src:url(fonts/museo/900/MuseoSans-900.eot?#iefix);src:local('☺'),
  url(fonts/museo/900/MuseoSans-900.otf) format("opentype"),
  url(fonts/museo/900/MuseoSans-900.eot?#iefix) format('embedded-opentype'),
  url(fonts/museo/900/MuseoSans-900.TTF) format("TrueType"),
  url(fonts/museo/900/MuseoSans-900.svg#MuseoSans-900) format("svg"),
  url(fonts/museo/900/MuseoSans-900.dfont) format("dfont"),
  url(fonts/museo/900/MuseoSans-900.suit) format("suit"),
  url(fonts/museo/900/MuseoSans-900.woff) format("woff");
  font-weight:900;
  font-style:normal;
}
